<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>

<header>
    <h1>My Website</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/titanic">Titanic</a>
        <a href="https://github.com/juliusbgr">About</a>
    </nav>
</header>

<main>
    <h2>I have been seen {{ count }} times.</h2>
    <ul>
        {% for i in range(1, count+1) %}
        <li>{{ i }}: Hello {{ name }}! </li>
        {% endfor %}
    </ul>

    <p><a href="https://www.hwr-berlin.de/">Visit HWR Berlin</a></p>

    <img src="{{ url_for('static', filename='lion.jpg') }}" alt="Lion image" width="300">
</main>

<footer>
    <p>Created by Julius BGR</p>
</footer>

</body>
</html>
